[Desktop Entry]
Type=Application
Version=1.0
Name=Skattr
GenericName=Encrypted Messenger
Comment=Metadata-resistant P2P encrypted messenger
Exec=skattr-ui
Icon=net.myggiz.skattr
Terminal=false
Categories=Network;InstantMessaging;
MimeType=x-scheme-handler/skattr;
StartupNotify=true
